/*--------------MAIN SECTION---------------*/
.first-section .subtitle figure{
    width: 11rem;
}
.first-section{
    margin: 0 auto;
}
.contenido-superior .logo{
    display: none;
}
.section-content{
    grid-template-columns: repeat(3, 11rem);
    font-size: 1.1rem;
}
.first-section .search-bar-container{
    order: 3;
    padding-top: 2rem;
}
.first-section .container-boton-idiomas .line{
    display: block;
}
.section-content .middle{
    display: block;
}
.footer-bar li:first-child{
    list-style: none;
}
.section-content div:nth-child(2){
    justify-self: start;
    margin-right: 1.5rem;
}
.section-content div:nth-child(11){
    justify-self: start;
    margin-left: .5rem;

}
.section-content div:nth-child(5){
    justify-self: start;
    margin-left: .5rem;

}
.section-content div:nth-child(7){
    justify-self: end;
    margin-right: 1rem;

}
.section-content div:nth-child(3),
.section-content div:nth-child(8){
    margin-right: 1.5rem;

}
.section-content div:nth-child(4),
.section-content div:nth-child(9){
    margin-left: 2rem;

}
.section-content div:first-child{
    justify-self: end;

}
.section-content div:nth-child(10){
    justify-self: end;
    margin-right: .1rem;

}
/*--------------LAST SECTION BUTTON---------------*/
/*--------------SECOND SECTION---------------*/
.wiki-links{
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}
.wiki-info .wiki-info-app-stores-container{
    width: 100%;
    margin: 0;
    margin-top: 1rem;
}
