/*--------------MAIN SECTION---------------*/
.first-section .subtitle figure{
    width: 11rem;
}
.first-section{
    margin: 0 auto;
}
.contenido-superior .logo{
    display: none;
}
.section-content{
    grid-template-columns: repeat(3, 10rem);
    font-size: 1.1rem;
}